@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@font-face {
  font-family: "Providence";
  src: local("Providence"), url("./fonts/Providence.ttf") format("truetype");
}

body {
  font-family: "Providence";
  color: #555;
}

.sticky-default {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 40;
}
