@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Providence";
  src: local("Providence"), url("./fonts/Providence.ttf") format("truetype");
}

body {
  font-family: "Providence";
  color: #555;
}
